body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.7em;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4em;
  padding-right: 4em;
}


button {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  padding: 3px 15px;
  line-height: 40px;
  color: rgb(12, 171, 144);
  background-color: #F8F8F8;
  box-shadow:none;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  transition: all 150ms ease-in;
  outline: none;
}


button:hover {
    background-color: #E8E8E8;
}


.templates-wrapper {
  background-color: rgb(255, 255, 255);
  width: 200px;
  height: 150px;
  max-height: 300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
}



#events {
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid lightgrey;
  overflow-y: scroll;
}

#events li {
  padding: 10px 10px 10px 10px;
}

.chat-wrapper {
  padding: 10px;
}

.chat-wrapper form {
  display: flex;
}

.chat-wrapper form input {
  font-size: 1.0rem;
  margin: 0 10px 0 0;
  padding: 0 5px;
  flex-grow: 1;
}

.chat-wrapper form button {
  width: 80px;
}

.button-wrapper {
  display: flex;
  padding: 10px 50px;
  justify-content: space-evenly;
}

.info-wrapper {
  display: flex;
  padding: 10px 50px;
  justify-content: space-evenly;
}


h1 {
    text-align: left;
    color: #fff;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 18px;
    padding: 10px 20px;
    color: 'black';
}

#tiny-chat {
    max-width: 450px;
    margin: 30px auto;
    border: 1px solid #ddd;
    border-radius: 0px;
    z-index: 50;
}

#tiny-window {
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
}

#output p {
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p {
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong {
    color: #0cab90;
}

label {
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input {
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: grey;
    display: block;
    width: 100%;
    background: #fff;
    border: 1px solid #03453a;
    border-radius: 0px;
    font-family: 'Source Sans Pro';
    font-size: 16px;
}

.container {
}

.col-6 {
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.base-timer {
  position: relative;
  width: 50px;
  height: 50px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}


/*# sourceMappingURL=styles.css.map */